/* Generic Selectors */
* {
	box-sizing: border-box;
	font-family: 'Archivo Narrow', sans-serif;
}

.headerOne {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	justify-content: all;
}

@media (min-width: 1280px) {
	.headerOne {
		/*border: 5px solid red;*/
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: all;
	}
}

.names {
	/*border: 5px solid green;*/
	position: relative;
	width: 100%;
}

@media (min-width: 1280px) {
	.names {
		/*border: 5px solid green;*/
		position: relative;
		width: 80%;
	}
}

.pics {
	/*border: 5px solid blue;*/
	display: none;

}

@media (min-width: 1280px) {
	.pics {
		display: inline-block;
		position: relative;
		width: 20%;
	}
}

#photo {
	vertical-align: middle;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headerTitle {
	/*border: 5px solid red;*/
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	/*display: flex;*/
	justify-content: all;
	/*background-color: #F0F0F0;*/
}

@media (min-width: 1280px) {
	.headerTitle {
		/*border: 5px solid red;*/
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: all;
		/*background-color: #F0F0F0;*/
	}
}

.title {
	/*border: 5px solid red;*/
	display: flex;
	justify-content: space-around;
	font-size: 25px;
	padding-left: 5px;
	letter-spacing: 7px;
	color: #505050;
}

.profileAndEducation {
	/*border: 5px solid red;*/
	width: 100%;
	margin-left: auto;
	margin-right: auto;
/*	display: flex;
	justify-content: all;*/
	text-align: justify;
}

@media (min-width: 1280px) {
	.profileAndEducation {
		/*border: 5px solid red;*/
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: all;
		text-align: justify;
	}
}

.profile {
	/*border: 5px solid green;*/
	position: relative;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	color: #505050;
}

.profile h2 {
	/*color: #F0F0F0;*/
	letter-spacing: 5px;
}

.profile2 {
	/*border: 5px solid green;*/
	position: relative;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	color: #505050;
}

@media (min-width: 1280px) {
	.profile {
		/*border: 5px solid green;*/
		position: relative;
		width: 50%;
		padding-left: 10px;
		padding-right: 10px;
		color: #505050;
	}

	.profile2 {
		/*border: 5px solid green;*/
		position: relative;
		width: 50%;
		padding-left: 10px;
		padding-right: 10px;
		color: #505050;
		letter-spacing: 5px;
	}
}

.education {
	/*border: 5px solid blue;*/
	position: relative;
	width: 100%;
	list-style-type: circle;
	color: #505050;
	padding-bottom: 30px;
}

.education h2 {
	letter-spacing: 5px;
	/*margin-left: 10px;*/
	padding-left: 10px;
}

.education ul li {
  background: #D0D0D0;
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 4px;
}

@media (min-width: 1280px) {
	.education {
		/*border: 5px solid blue;*/
		position: relative;
		width: 50%;
		list-style-type: circle;
		color: #505050;
		padding-bottom: 30px;
	}

	.education h2 {
		letter-spacing: 5px;
		/*margin-left: 10px;*/
		padding-left: 40px;
	}

	.education ul li {
	  background: #D0D0D0;
	  margin-left: 20px;
	  margin-right: 5px;
	  margin-bottom: 4px;
	}
}

.backend {
	/*border: 5px solid green;*/
	position: relative;
	width: 50%;
	padding-left: 10px;
	color: #505050;
	padding-bottom: 30px;
}

.technology {
	background-color: #F0F0F0;
}

.headerTech h2 {
	letter-spacing: 5px;
}

@media (min-width: 1280px) {
	.technology {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		background-color: #F0F0F0;
	}

	.headerTech {
		/*border: 5px solid red;*/
/*		width: 70%;
		margin-left: auto;
		margin-right: auto;*/
		display: flex;
		justify-content: all;
		/*background-color: #F0F0F0;*/
	}
}


.backend ul li {
	margin-left: 40px;
}

.backend h2 {
	margin-left: 40px;
}

.backend-tech {
	display: inline-flex;
	justify-content: all;
}

.frontend {
	/*border: 5px solid blue;*/
	padding-left: 10px;
	position: relative;
	width: 50%;
	list-style-type: circle;
	color: #505050;
}

.frontend ul li {
	margin-left: 40px;
}

.frontend h2 {
	margin-left: 40px;
}

.portfolio {
	background-color: #D0D0D0;
}

.headerPortfolio {
	/*border: 5px solid red;*/
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	/*display: flex;*/
	/*justify-content: all;*/
	/*background-color: #D0D0D0;*/
	color: #505050;
}

.headerPortfolio span {
	color: white;
	background-color: #A0A0A0;
	border-radius: 5%;
	padding: 0px 10px;
	margin-right: 5px;
	margin-left: 5px;
}

.headerPortfolio h2 {
	letter-spacing: 5px;
}

.headerPortfolio a {
	color: black;
}

.headerPortfolio a:visited {
	color: black;
}

.headerPortfolio ul li {
	margin-bottom: 15px;
}

#jumpPortfolio {
	text-decoration: none;
	color: #505050;
}

#jumpPortfolio:hover {
	text-decoration: underline;
	color: #202020;
}

@media (min-width: 1280px) {
	.portfolio {
		width: 70%;
		background-color: #D0D0D0;
		margin-left: auto;
		margin-right: auto;
	}

	.headerPortfolio {
		/*border: 5px solid red;*/
		/*width: 50%;*/
		margin-left: auto;
		margin-right: auto;
		/*display: flex;*/
		/*justify-content: all;*/
		background-color: #D0D0D0;
		color: #505050;
	}

	.headerPortfolio h2 {
		letter-spacing: 5px;
	}

	.deployedGit {
		/*border: 5px solid blue;*/
		padding-left: 40px;
		position: relative;
		width: 50%;
		list-style-type: circle;
		color: #505050;
		padding-bottom: 30px;
	}

	.headerPortfolio span {
		color: white;
		background-color: #A0A0A0;
		border-radius: 5%;
		padding: 2px 7px;
		margin-right: 2px;
		margin-left: 2px;
	}
}

.deployedHeroku {
	/*border: 5px solid green;*/
	position: relative;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	color: #505050;
}

@media (min-width: 1280px) {
	.deployedHeroku {
		/*border: 5px solid green;*/
		position: relative;
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		color: #505050;
	}
}

.deployedHeroku a {
	color: black;
}

.deployedHeroku a:visited {
	color: #505050;
}

.deployedHeroku ul li {
	margin-bottom: 15px;
}


.deployedGit {
	/*border: 5px solid blue;*/
	padding-left: 10px;
	position: relative;
	width: 100%;
	list-style-type: circle;
	color: #505050;
	padding-bottom: 30px;
}

@media (min-width: 1280px) {
	.deployedGit {
		/*border: 5px solid blue;*/
		padding-left: 10px;
		position: relative;
		width: 50%;
		list-style-type: circle;
		color: #505050;
		padding-bottom: 30px;
	}
}

.deployedGit a {
	color: black;
}

.deployedGit a:visited {
	color: #505050;
}

.deployedGit ul li {
	margin-bottom: 15px;
}

.experience {
	background-color: #F0F0F0;
}

.headerExp {
	/*border: 5px solid red;*/
/*	width: 100%;
	margin-left: auto;
	margin-right: auto;*/
	/*display: flex;*/
	/*justify-content: all;*/
	background-color: #F0F0F0;
}

.headerExp h2 {
	letter-spacing: 5px;
}

@media (min-width: 1280px) {
	.experience {
		margin-left: auto;
		margin-right: auto;
		width: 70%;
		background-color: #F0F0F0;
	}

	.headerExp {
		/*border: 5px solid red;*/
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		/*display: flex;*/
		/*justify-content: all;*/
		background-color: #F0F0F0;
	}

	.headerExp h2 {
		letter-spacing: 5px;
	}
}

.headerExp h3 {
	margin-top: 10px;
	margin-bottom: 0px;
	color: #505050;
	margin-left: 10px;
}

.headerExp h4 {
	color: #505050;
	margin: 0px;
	margin-left: 10px;
}

.job {
	list-style-type: none;
}

.job li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	color: #505050;
	/*letter-spacing: 1px;*/
	/*background-color: #D0D0D0;*/
}

.name {
	color: #F0F0F0;
	position: relative;
	top: -390px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	z-index: 3;
}

.fName {
	font-family: 'Anaheim', sans-serif;
	font-size: 33px;
	letter-spacing: 10px;
	margin-bottom: 0px;
}

.lName {
	font-family: 'Wire One', sans-serif;
	font-size: 31px;
	letter-spacing: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*.social {
	width: 18%;
	border-radius: 30px;
	background-color: #F0F0F0;
	margin-right: auto;
	margin-left: auto;
	color: #808080;
	text-decoration: none;
	margin-top: 14px;
	font-size: 26px;
}*/

/*.social:hover {
	background-color: black;
}*/

/*.social a {
	color: #808080;
	margin-left: 10px;
	margin-right: 10px;
}
.social a:visited {
	color: #808080;
}
.social a:hover {
	color: black;
}
.social a:active {
	color: black;
}*/

@media (min-width: 1280px) {
	.name {
		color: #F0F0F0;
		position: relative;
		top: -480px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		z-index: 3;
	}

	.fName {
		font-family: 'Anaheim', sans-serif;
		font-size: 62px;
		letter-spacing: 8px;
		margin-bottom: 0px;
	}

	.lName {
		font-family: 'Wire One', sans-serif;
		font-size: 58px;
		letter-spacing: 8px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.social {
		width: 18%;
		border-radius: 30px;
		background-color: #F0F0F0;
		margin-right: auto;
		margin-left: auto;
		color: #808080;
		text-decoration: none;
		margin-top: 14px;
		font-size: 26px;
	}

	/*.social:hover {
		background-color: black;
	}*/

	.social a {
		color: #808080;
		margin-left: 10px;
		margin-right: 10px;
	}
	.social a:visited {
		color: #808080;
	}
	.social a:hover {
		color: black;
	}
	.social a:active {
		color: black;
	}
}

.social {
	width: 65%;
	border-radius: 30px;
	background-color: #F0F0F0;
	margin-right: auto;
	margin-left: auto;
	color: #808080;
	text-decoration: none;
	margin-top: 14px;
	font-size: 22px;
}

@media (min-width: 640px) {
	.social {
		width: 35%;
	}
}

@media (min-width: 1280px) {
	.social {
		width: 18%;
		border-radius: 30px;
		background-color: #F0F0F0;
		margin-right: auto;
		margin-left: auto;
		color: #808080;
		text-decoration: none;
		margin-top: 14px;
		font-size: 22px;
	}
}
/*.social:hover {
	background-color: black;
}*/

.social a {
	color: #808080;
	margin-left: 10px;
	margin-right: 10px;
}
.social a:visited {
	color: #808080;
}
.social a:hover {
	color: black;
}
.social a:active {
	color: black;
}

.socialCv {
	/*border: 2px solid red;*/
	/*width: 40%;*/
	border-radius: 30px;
	background-color: #F0F0F0;
	margin-right: auto;
	margin-left: auto;
	color: #808080;
	text-decoration: none;
	display: inline;
	/*margin-top: 14px;*/
	font-size: 16px;
}

@media (min-width: 1280px) {
	.socialCv {
		width: 30%;
		border-radius: 30px;
		background-color: #F0F0F0;
		margin-right: auto;
		margin-left: auto;
		color: #808080;
		text-decoration: none;
		display: inline;
		/*margin-top: 14px;*/
		font-size: 22px;
	}
}

.socialCv span {
	color: #808080;
}

.socialCv span a span:hover {
	color: black;
}

/*.socialCv:hover {
	background-color: black;
}*/

.socialCv span a {
	color: #808080;
	margin-left: 5px;
	margin-right: 5px;
}
.socialCv span a:visited {
	color: #808080;
}
.socialCv span a:hover {
	color: black;
}
.socialCv span a:active {
	color: orange;
}

.presentation {
	/*border: 5px solid blue;*/
	width: 80%;
	top: -230px;
	color: #505050;
	font-size: 20px;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 640px) {
	.presentation {
		width: 50%;
	}
}

@media (min-width: 1280px) {
	.presentation {
	/*border: 5px solid red;*/
	width: 30%;
	top: -300px;
	color: #505050;
	font-size: 20px;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	}
}

.choices {
	top: -250px;
	color: black;
	position: relative;
	display: flex;
	justify-content: space-around;

}

@media (min-width: 1280px) {
	.choices {
		top: -270px;
		color: black;
		position: relative;
		display: flex;
		justify-content: center;

	}	
}

.frontAndBack {
	display: flex;
	justify-content: flex-start;
}

#work {
	font-size: 20px;
	border-radius: 30px;
	padding: 10px 24px;
	margin-left: 20px;
	border: none;
	color: white;
	background-color: #303030;
	text-decoration: none;
}

#work:hover {
	color: black;
	background-color: #F0F0F0;
}

#cv {
	font-size: 20px;
	border-radius: 30px;
	padding: 10px 24px;
	margin-right: 20px;
	border: none;
	color: white;
	background-color: #303030;
	text-decoration: none;
}

#cv:hover {
	color: black;
	background-color: #F0F0F0;
}

#namesAndContact {
   /*border: 5px solid red;*/

   /*width: 600px;*/
   height: 220px;
   width: 100%;
   /*height: 20%;*/
   margin-left: auto;
   margin-right: auto;
   background-image: url(assets/black.jpg);
   background-color: #101010;
   background-repeat: no-repeat;
   /*background-position: top center;*/
   /*background-attachment: fixed;*/
   background-size: cover;
}

@media (min-width: 1280px) {
	#namesAndContact {
	   /*border: 5px solid red;*/

	   /*width: 1400px;*/
	   height: 300px;
	   width: 100%;
	   /*height: 20%;*/
	   margin-left: auto;
	   margin-right: auto;
	   background-image: url(assets/night.jpg);
	   background-color: black;
	   background-repeat: no-repeat;
	   /*background-position: top center;*/
	   /*background-attachment: fixed;*/
	   background-size: cover;
	   background-position: center;
	}
}

.content {
	/*border: 5px solid red;*/

	/*width: 1400px;*/
	position: relative;
	top: -565px;
	z-index: -10;
	height: 500px;
	width: 100%;
	/*height: 20%;*/
	margin-left: auto;
	margin-right: auto;
	background-image: url(assets/ocean3.jpg);
	background-color: white;
	background-repeat: no-repeat;
	/*background-position: top center;*/
	/*background-attachment: fixed;*/

	background-position: center;
	background-size: cover;
}

#picture{
    border: 5px solid white;
    position: relative;
    top: -80px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(assets/fotoportafolio.jpg);
    z-index: 2;
}

.cropcircle{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
}

/****** CV CSS ********/




.foto {
		display: none;
}

@media (min-width: 768px) {
	.foto {
		/*vertical-align: middle;*/
		display: inline-block;
    	width: 21.6%;
    	height: auto;
	}
}

/*.container {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	background-color: white;
}

@media (min-width: 768px) {
	.container {
		width: 992px;
		margin-left: auto;
		margin-right: auto;
		vertical-align: top;
		background-color: white;
	}
}

.container2 {
	width: 600px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	background-color: white;
	font-family: 'Wire One', sans-serif;
	font-size: 14px;
	color: #505050;
}

@media (min-width: 768px) {
	.container2 {
		width: 992px;
		padding: 20px;
		padding-right: 40px;
		margin-left: auto;
		margin-right: auto;
		vertical-align: middle;
		background-color: white;
		font-family: 'Wire One', sans-serif;
		font-size: 16px;
		color: #505050;
	}
}

.container2 h2 {

}

@media (min-width: 768px) {
	.container2 h2 {
		letter-spacing: 5px;
	}
}

#perfil {
	text-align: justify;
}

@media (min-width: 768px) {
	#perfil {
		padding-right: 20px;
		text-align: justify;
	}
}

#educacion {

}

@media (min-width: 768px) {
	#educacion {
		padding-left: 20px;
	}
}*/

.nombres {
	width: 59%;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

@media (min-width: 768px) {
	.nombres {
		width: 72%;
		vertical-align: middle;
		text-align: center;
		display: inline-block;
		margin: 0px;
	}	
}

#name {
	font-family: 'Anaheim', sans-serif;
	font-size: 50px;
	letter-spacing: 7px;
	color: #303030;
}

@media (min-width: 768px) {
	#name {
		font-family: 'Anaheim', sans-serif;
		font-size: 100px;
		letter-spacing: 7px;
		color: #303030;
	}
}

#lastName {
	font-family: 'Wire One', sans-serif;
	font-size: 45px;
	letter-spacing: 8px;
	color: #505050;
}

@media (min-width: 768px) {
	#lastName {
		font-family: 'Wire One', sans-serif;
		font-size: 90px;
		letter-spacing: 10px;
		color: #505050;
	}	
}

.datosUp {
	color: #505050;
	vertical-align: middle;
	text-align: right;
	list-style: none;
	font-size: 13px;
	padding: 0px;
	margin-right: 0px;
	width: 39%;
	/*letter-spacing: 2px;*/
	display: inline-block;
	/*margin: 0px;*/
}

@media (min-width: 768px) {
	.datosUp {
		color: #505050;
		vertical-align: middle;
		width: 26%;
		font-size: 13px;
		text-align: right;
		list-style: none;
		letter-spacing: 2px;
		display: inline-block;
		margin: 0px;
	}

}

.datosDn {
	color: #505050;
	vertical-align: middle;
	text-align: right;
	list-style: none;
	font-size: 13px;
	padding: 0px;
	font-size: 13px;
	padding: 0px;
	margin-right: 0px;
	width: 39%;
	display: inline-block;
	margin: 0px;
}


@media (min-width: 768px) {
	.datosDn {
		color: #505050;
		vertical-align: middle;
		width: 26%;
		font-size: 13px;
		text-align: right;
		letter-spacing: 2px;
		display: inline-block;
		margin: 0px;
	}
}

.nombresDatosUp {
	background-color: #D0D0D0;
	padding: 0px;
}

.nombresDatosDown {
	background-color: #F0F0F0;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*.ambosNombresDatos {
	border: 5px solid red;
	vertical-align: middle;
}

@media (min-width: 768px) {
	.ambosNombresDatos {
		vertical-align: top;
		display: inline-block;
		width: 78%;
	}
}*/

/*.mitades {
	vertical-align: top;
	list-style-type: circle;

}

@media (min-width: 768px) {
	.mitades {
		vertical-align: top;
		display: inline-block;
		width: 49.8%;
		list-style-type: circle;
	}
}

.distribucion {
	vertical-align: top;
	display: inline-block;
	width: 49%;
	list-style-type: circle;
}


@media (min-width: 768px) {
	.distribucion {
		vertical-align: top;
		display: inline-block;
		width: 33%;
		list-style-type: circle;
	}
}

.distribucion2 {
	vertical-align: top;
	display: inline-block;
	width: 49%;
	list-style: none;
}

@media (min-width: 768px) {
	.distribucion2 {
		vertical-align: top;
		display: inline-block;
		width: 33%;
		list-style: none;
	}
}

.distribucion3 {
	vertical-align: top;
	display: inline-block;
	width: 49%;
	list-style: none;
}

@media (min-width: 768px) {
	.distribucion3 {
		vertical-align: top;
		display: inline-block;
		width: 24%;
		list-style: none;
	}
}

.distribucion li {
	margin-left: 20px;
}

.mitades ul li {
  background: #D0D0D0;
  margin-left: 20px;
  margin-bottom: 4px;
}

.mitades ul {
	padding-left: 0px;
}

.mitades h2 {
  margin-left: 0px;
}

@media (min-width: 768px) {
	.mitades h2 {
	  margin-left: 0px;
	  letter-spacing: 5px;
	}
}

#experienciaProfesional, #referenciasPersonales {
	background-color: #F0F0F0;
}

#referenciasLaborales, #portfolioFullstack {
	background-color: #D0D0D0;
}

#referenciasLaborales h3 {

}

@media (min-width: 768px) {
	#referenciasLaborales h3 {
		letter-spacing: 4px;
	}
}

#referenciasPersonales h3 {
	letter-spacing: 1px;
}*/

@media print {
	header, footer, aside, form, … {
		display: none;
	}

	article {
		width: 100%!important;
		padding: 0!important;
		margin: 0!important;
		page-break-inside: auto;
	}

	section {
		width: 100%!important;
		padding: 0!important;
		margin: 0!important;
		page-break-inside: auto;
	}

	div {
		page-break-inside: auto;
	}

	.portfolio {
		/*border: 2px solid blue;*/
	}

	.headerOne {
		/*border: 5px solid red;*/
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: all;
	}

	.headerTitle {
		/*border: 5px solid red;*/
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: all;
		/*background-color: #F0F0F0;*/
	}

	.socialCv {
		width: 35%;
		border-radius: 30px;
		background-color: #F0F0F0;
		margin-right: auto;
		margin-left: auto;
		color: #808080;
		text-decoration: none;
		display: inline;
		/*margin-top: 14px;*/
		font-size: 12px;
	}

	.profileAndEducation {
		/*border: 5px solid red;*/
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		display: flex;
		justify-content: all;
		text-align: justify;
	}

	.profile {
		width: 50%;
		margin-top: 1px;
		margin-bottom: 1px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.profile h2 {
		/*border: 2px solid green;*/
		font-size: 18px;
		margin-top: 1px;
		margin-bottom: 1px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.profile p {
		font-size: 12px;
	}

	.profile2 {
		/*border: 2px solid green;*/
		width: 100%;
		margin-top: 1px;
		margin-bottom: 1px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.profile2 h2 {
		/*border: 2px solid green;*/
		font-size: 18px;
		margin-top: 1px;
		margin-bottom: 1px;
		padding-top: 0px;
		padding-bottom: 0px;
		letter-spacing: 5px;
	}

	.education {
		width: 50%;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.education h2 {
		font-size: 18px;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.education p {
		font-size: 12px;
	}

	.education ul {
		margin-bottom: 0px;
		/*margin-top: 0px;*/
		padding-bottom: 0px;
		font-size: 12px;
	}

	.headerTech {
		/*border: 2px solid red;*/
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: all;
		background-color: #F0F0F0;
		margin-bottom: 10px;
	}

	.backend {
		/*border: 2px solid green;*/
		padding-bottom: 0px;
	}

	.backend h2 {
		margin-left: 40px;
		font-size: 18px;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.backend ul li {
		margin-left: 40px;
		font-size: 12px;
	}

	.backend-tech {
		display: inline-flex;
		justify-content: all;
	}

	.backend-tech ul {
		/*border: 2px solid blue;*/
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.frontend {
		/*border: 2px solid green;*/
		padding-bottom: 0px;
	}

	.frontend h2 {
		margin-left: 40px;
		font-size: 18px;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.frontend ul li {
		margin-left: 40px;
		font-size: 12px;
	}

	.headerPortfolio {
		/*border: 2px solid green;*/
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding: 1px;
		margin-top: 1px;
		margin-bottom: 1px;

	}

	.headerPortfolio ul {
		margin-top: 1px;
		margin-bottom: 1px;
		padding-top: 1px;
		padding-bottom: 1px;
		page-break-inside: auto;
	}

	.headerPortfolio li {
		/*border: 2px solid red;*/
		margin-top: 1px;
		margin-bottom: 1px;
		page-break-inside: auto;
		font-size: 12px;
/*		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 0px;
		padding-bottom: 0px;*/
	}

	.headerPortfolio ul li p {
		/*display: none;*/
		page-break-inside: auto;
		margin-top: 1px;
		margin-bottom: 1px;
		font-size: 12px;
	}

	.deployedHeroku h3 {
/*		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 0px;
		padding-bottom: 0px;*/
	}

	.deployedGit ul {
		margin-top: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.deployedGit li {
		/*border: 2px solid red;*/
		font-size: 12px;
/*		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 0px;
		padding-bottom: 0px;*/
	}

	.deployedGit ul li p {
		/*display: none;*/
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 12px;
	}

	.deployedGit h3 {
/*		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 0px;
		padding-bottom: 0px;*/
	}

	span {
		/*border: 2px solid green;*/
		font-size: 12px;
	}

/*	li p {
		display: none;
	}*/

	.experience {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		background-color: #F0F0F0;
	}

	.headerExp {
		/*border: 5px solid red;*/
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		/*display: flex;*/
		/*justify-content: all;*/
		background-color: #F0F0F0;
	}

	.headerExp h3 {
		margin-top: 10px;
		margin-bottom: 1px;
		color: #505050;
		margin-left: 10px;
		font-size: 16px;

	}

	.headerExp h4 {
		font-size: 14px;
		color: #505050;
		margin: 0px;
		margin-left: 10px;
		font-weight: lighter;
	}

	.headerExp ul {
		margin-top: 1px;
	}

	.job {
		list-style-type: none;
		font-size: 12px;
	}

/*	.job li {
		display: none;
	}*/

	.names {
		/*border: 5px solid green;*/
		position: relative;
		width: 80%;
	}

	.pics {
		display: inline-block;
		position: relative;
		width: 20%;
	}

	#photo {
		vertical-align: middle;
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	}

	.nombres {
		width: 72%;
		vertical-align: middle;
		text-align: center;
		display: inline-block;
		margin: 0px;
	}	

	#name {
		font-family: 'Anaheim', sans-serif;
		font-size: 70px;
		letter-spacing: 5px;
		color: #303030;
	}

	#lastName {
		font-family: 'Wire One', sans-serif;
		font-size: 60px;
		letter-spacing: 8px;
		color: #505050;
	}

	.datosUp {
		color: #505050;
		vertical-align: middle;
		width: 26%;
		font-size: 9px;
		text-align: right;
		list-style: none;
		letter-spacing: 1px;
		display: inline-block;
		margin: 0px;
	}

	.datosDn {
		color: #505050;
		vertical-align: middle;
		width: 26%;
		font-size: 9px;
		text-align: right;
		letter-spacing: 1px;
		display: inline-block;
		margin: 0px;
	}

	.title {
		/*border: 5px solid red;*/
		display: flex;
		justify-content: space-around;
		font-size: 15px;
		padding-left: 5px;
		letter-spacing: 7px;
		color: #505050;
	}
}

@page {
	margin: 2cm;
}